@import "tailwindcss";

@layer components {

    .swiper-button-next,
    .swiper-button-prev {
        color: white !important;
    }

    .swiper-pagination-bullet {
        background-color: white !important;
        opacity: 0.6 !important;
    }

    .swiper-pagination-bullet-active {
        background-color: white !important;
        opacity: 1 !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: white !important;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    }
}

@layer utilities {
    .bg-main {
        background-image: url('/main-bg.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: rgb(243, 243, 243) !important; */
    }

    .bg-main-blue {
        background-image: url('/main-bg-blue.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: rgb(243, 243, 243) !important; */
    }

    .bg-main-brown {
        background-image: url('/main-bg-brown.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-color: rgb(243, 243, 243) !important; */
    }

    .text-strong-shadow {
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    }
}

.vertical-timeline::before {
    background-color: #16a34a;
    animation: drawLine 1.8s ease-out forwards;
    height: 0;
}

.vertical-timeline.animate-line::before {
    animation: drawLine 1.6s ease-out forwards;
}

@keyframes drawLine {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}